In [29]:
import pandas as pd
import numpy as np

In [30]:
import sys
import os
sys.path.append(os.path.abspath("../utils"))

import basic_plots as bp
import basic_tests as bt

In [41]:
np.random.seed(19)

In [42]:
X = pd.read_csv("../data/final/X.csv")

Identify variables

In [43]:
X.head()

,stag,gender,age,industry,profession,traffic,coach,head_gender,greywage,way,extraversion,independ,selfcontrol,anxiety,novator
0,7.030801,m,35.0,Banks,HR,rabrecNErab,no,f,white,bus,6.2,4.1,5.7,7.1,8.3
1,22.965092,m,33.0,Banks,HR,empjs,no,m,white,bus,6.2,4.1,5.7,7.1,8.3
2,15.934292,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,6.2,6.2,2.6,4.8,8.3
3,15.934292,f,35.0,PowerGeneration,HR,rabrecNErab,no,m,white,bus,5.4,7.6,4.9,2.5,6.7
4,8.410678,m,32.0,Retail,Commercial,youjs,yes,f,white,bus,3.0,4.1,8.0,7.1,3.7

In [44]:
num_vars = ["age", "extraversion", "independ", "selfcontrol", "anxiety", "novator"] #stag 
cat_vars = ["industry", "profession", "traffic", "coach", "way", "gender", "head_gender", "greywage"]

In [47]:
sample_size = 3000

In [48]:
synthetic_num = {var: np.random.normal(X[var].mean(), X[var].std(), size = sample_size) for var in num_vars}

In [49]:
lambda_stag = 1 / X["stag"].mean()  # Compute lambda (rate parameter)
synthetic_num["stag"] = np.random.exponential(scale = 1/lambda_stag, size = sample_size)

In [50]:
synthetic_cat = {var: np.random.choice(X[var].unique(), p=X[var].value_counts(normalize=True).values, size = sample_size) for var in cat_vars}

In [56]:
synthetic_sample = {**synthetic_num, **synthetic_cat}

In [57]:
synthetic_df = pd.DataFrame.from_dict(synthetic_sample)

In [58]:
synthetic_df.head()

,age,extraversion,independ,selfcontrol,anxiety,novator,stag,industry,profession,traffic,coach,way,gender,head_gender,greywage
0,26.560334,6.168726,4.431555,6.939695,7.555904,4.160736,7.791838,Retail,manage,rabrecNErab,no,bus,m,m,white
1,32.370359,3.432559,6.978126,1.067051,7.529398,8.134949,49.595838,Retail,Commercial,rabrecNErab,no,bus,f,m,white
2,24.910089,6.827413,5.110360,10.215387,6.368498,1.893669,135.293744,etc,HR,youjs,no,car,m,m,grey
3,27.079896,6.151439,3.517645,6.853557,4.799216,5.873418,18.200468,Banks,HR,empjs,no,car,m,f,white
4,29.064015,7.739273,4.507396,6.290034,5.530648,6.697736,106.897940,IT,HR,empjs,no,bus,m,f,white

In [61]:
synthetic_df.describe()

,age,extraversion,independ,selfcontrol,anxiety,novator,stag
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,31.147819,5.616368,5.445595,5.611301,5.677211,5.821186,37.673448
std,7.082380,1.825593,1.659112,2.012597,1.714841,1.888906,37.955840
min,7.363002,-1.154418,-1.188772,-1.265526,0.767823,-1.123286,0.036427
25%,26.435517,4.319084,4.363951,4.273447,4.510170,4.555025,11.387233
50%,31.017390,5.600375,5.431207,5.614724,5.682854,5.867771,25.767949
75%,35.730411,6.847076,6.577937,6.961472,6.877412,7.094774,52.835060
max,61.485751,13.902716,10.834369,12.509326,11.242903,12.338480,384.705454

In [62]:
vars_to_cap = ["extraversion", "independ", "selfcontrol", "anxiety", "novator"]

In [63]:
synthetic_df[vars_to_cap] = synthetic_df[vars_to_cap].clip(lower=0, upper=10)

In [64]:
synthetic_df.describe()

,age,extraversion,independ,selfcontrol,anxiety,novator,stag
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,31.147819,5.610203,5.445132,5.603267,5.674609,5.811010,37.673448
std,7.082380,1.804524,1.653500,1.985519,1.707799,1.860314,37.955840
min,7.363002,0.000000,0.000000,0.000000,0.767823,0.000000,0.036427
25%,26.435517,4.319084,4.363951,4.273447,4.510170,4.555025,11.387233
50%,31.017390,5.600375,5.431207,5.614724,5.682854,5.867771,25.767949
75%,35.730411,6.847076,6.577937,6.961472,6.877412,7.094774,52.835060
max,61.485751,10.000000,10.000000,10.000000,10.000000,10.000000,384.705454

## Save synthetic data

In [65]:
synthetic_df.to_csv("../data/synthetic/synthetic_X.csv", index = False)